[Desktop Entry]
Type=Application
Exec=~/.config/fortyminutes/forty_minutes.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[es_ES]=fortyminutes
Name=fortyminutes
Comment[es_ES]=
Comment=
