[Desktop Entry]
Type=Application
Exec=~/.config/fortyminutes/forty_minutes.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=fortyminutes
Comment=Stand up every 40 minutes. Do it for your health!!
